<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inspo(ration) by Arpit Batra</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="./styles/style.css" />

    <!-- Primary Meta Tags -->
    <title>Inspo(ration) by Arpit Batra</title>
    <meta name="title" content="Inspo(ration) by Arpit Batra" />
    <meta name="description" content="A collection of inspirational photos by Arpit Batra" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://inspo-arpit.vercel.app/" />
    <meta property="og:title" content="Inspo(ration) by Arpit Batra" />
    <meta property="og:description" content="A collection of inspirational photos by Arpit Batra" />
    <meta property="og:image" content="https://inspo-arpit.vercel.app/assets/images/og-loc-inspo.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://inspo-arpit.vercel.app/" />
    <meta property="twitter:title" content="Inspo(ration) by Arpit Batra" />
    <meta property="twitter:description" content="A collection of inspirational photos by Arpit Batra" />
    <meta property="twitter:image" content="https://inspo-arpit.vercel.app/assets/images/og-loc-inspo.png" />
    <meta property="twitter:creator" content="@arpitbatra123" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- Analytics -->
    <script data-goatcounter="https://inspo-arpit.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </head>
  <body>
    <main class="container">
      <ul class="grid">
        {% for image in images %}
        <li class="item">
          <a href="./inspo/{{ image }}" data-fancybox="inspo">
            <!-- Empty image alts until i can find a better way to caption them -->
            <img src="./inspo/{{ image }}" loading="lazy" alt="" />
          </a>
        </li>
        {% endfor %}
        <!-- https://css-tricks.com/adaptive-photo-layout-with-flexbox/ -->
        <li></li>
      </ul>
      <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    </main>
  </body>
</html>
