<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inspo(ration) by Arpit Batra</title>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <main class="container">
      <ul class="grid">
        {% for image in images %}
        <li class="item">
          <a href="./inspo/{{ image }}" data-fancybox="inspo">
            <!-- Empty image alts until i can find a better way to caption them -->
            <img src="./inspo/{{ image }}" loading="lazy" alt="" />
          </a>
        </li>
        {% endfor %}
        <!-- https://css-tricks.com/adaptive-photo-layout-with-flexbox/ -->
        <li></li>
      </ul>
      <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    </main>
  </body>
</html>
